# SERVER
HOST={YOUR_IP_SERVER}
PORT={YOUR_PORT_OPEN}

# POSTGRESS CONNECTION
POSTGRES_USER={YOUR_USER_POSTGRES}
POSTGRES_PASSWORD={YOUR_USER_PASSWORD}
POSTGRES_HOST={YOUR_HOST_POSTGRES}
POSTGRES_PORT={YOUR_PORT_POSTGRES}
POSTGRES_DB={YOUR_DATABASE}

# ORIGINS ALLOWED
ALLOWED_ORIGINS={YOUR_ORIGIN_ALLOWED}

# JWT
JWT_SECREET_KEY={YOUR_SECREET_KEY}
JWT_ISSUER={YOUR_NAME_ISSUER}

# REDIS
REDIS_HOST={YOUR_HOST_REDIS}
REDIS_PORT={YOUR_PORT_REDIS}
REDIS_USER={YOUR_USER_REDIS}
REDIS_PASWORD={YOUR_USER_PASSWORD}